extends ../templates/layout
include ../mixins/theme

block content
  div.detail__container
    img(src=`/${cafe.backgroundUrl}` alt=cafe.name width=400 height=400)
    h2=cafe.name
    div.detail__registrant
      p 등록한 분 : 
      a(href=`/users/${cafe.owner._id}`) #{cafe.owner.username}
    div.detail__themes
      each theme in cafe.theme
        +theme(theme)
    p.detail__description=cafe.description
    div.detail__btns
      if(loggedUser)
        if String(cafe.owner._id) === String(loggedUser._id)
          a(href=`/cafes/${cafe._id}/edit`) 내용 수정하기
          a(href=`/cafes/${cafe._id}/delete`) 삭제하기
