extends ../templates/layout

block content
  form(method='POST' enctype='multipart/form-data')
    label(for='name') 이름*
    input(name='name' id='name' type='text' placeholder='카페 이름' value=cafe.name required)
    span=nameErrorMsg

    label(for='description') 설명*
    input(name='description' id='description' type='text' placeholder='카페 설명' value=cafe.description required)
    span=descriptionErrorMsg

    label(for='location') 위치*
    input(name='location' id='location' type='text' placeholder='카페 위치' value=cafe.location required)
    span=locationErrorMsg

    label(for='theme') 테마*
    input(name='theme' id='theme' type='text' placeholder='카페 테마(쉼표로 테마들을 나눕니다)' value=cafe.theme.join(',') required)
    span=themeErrorMsg

    label(for='level') 난이도*
    input(name='level' id='level' type='number' value=cafe.meta.level placeholder='난이도(1~5점까지 있으며 높을수록 어려운 난이도입니다.)' required)
    span=levelErrorMsg

    label(for='rating') 점수
    input(name='rating' id='rating' type='number' value=cafe.meta.rating placeholder='점수(1~10점까지 있으면 높을수록 좋은 평입니다.)')
    span=ratingErrorMsg
    hr

    label(for='background') 카페 배경
    input(name='background' id='background' type='file' accept='image/*')

    input(type='submit' value='내용 수정하기')